nav {
  /* font-size: 125%; */
  font-size: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  margin: 0 0.5rem;
}

nav ul li a .num {
  border: 1px solid blue;
}

nav ul li a span {
/* nav ul li .number { */
  color: red;
  margin: 0 0.5rem;
}